@{
    ViewBag.Title = "IconCaptcha Plugin v2 - By Fabian Wennink";
}

<div class="section">
    <h2>Example:</h2>
    <a href="Captcha/"><div class="btn">Regular HTML form</div></a>
</div>

<div class="section">
    <h2>Links:</h2>
    <a href="https://github.com/fabianwennink/IconCaptcha-Plugin-jQuery-PHP/" target="_blank"><div class="btn">GitHub repository</div></a>
    <a href="https://paypal.me/nlgamevideosnl" target="_blank"><div class="btn">Buy me a coffee</div></a>
    <a href="https://fabianwennink.nl/en/" target="_blank"><div class="btn">Fabian Wennink <small>(developer)</small></div></a>
</div>