@{
    ViewBag.Title = "IconCaptcha Plugin v2 - By Fabian Wennink";
}

<div class="section">

    <!-- Just a basic HTML form, captcha should ALWAYS be placed WITHIN the <form> element -->
    <h2>Form:</h2>
    <form action="SubmitForm" method="post">

        <!-- Element that we use to create the IconCaptcha with -->
        <div class="captcha-holder"></div>

        <!-- Submit button to test your IconCaptcha input -->
        <input type="submit" value="Submit demo captcha" class="btn">
    </form>
</div>